.Dashboard {
    min-height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.Dashboard {
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Dashboard.true {
    opacity: 1;
}

.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    color: white;
    font-size: 2vh;

    transition: opacity 0.3s ease;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #b0b0b0;
}
.Loading > img {
    height: 2vh;
    width: 2vh;
    margin-right: 20px;
    animation: spin 1s linear infinite;
}
.Loading.fadeOut {
    opacity: 0;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}